
<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='categories && categories.length'>
                <!--<thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Category ID</th>
                    </tr>
                </thead>-->
                <tbody>
                    <tr *ngFor='let category of categories'>
                        <td>
                            <a [routerLink]="['/products',category.CatID]" >
                                {{ category.CatName }}
                            </a>
                        </td>
                        <!--<td>{{ category.CatID }}</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='panel-footer'>
        Bootswatch Theme:  <i>Slate</i>
    </div>
</div>