<img src="./app/assets/images/yeti_logo.jpg" style="width:250px;height:100px;">
<div class="jumbotron"><h1>Yeti Shop</h1>
<h3>Thomas Caprariello - Project 1</h3></div>

<div class="panel panel-primary">
        <div class="panel-heading">
            {{pageTitle}}
        </div>
        <div class="panel-body"  >
            
    
            <h3>
                <a href="/categories">Choose a Category</a>
            </h3>
            <h3>
            <a href="/products">See all of our Inventory</a>
            </h3>
    
        </div>
    </div>